.footer {
  margin: 0 auto;
  max-width: 1160px;
  background-color: #fabc0f;
}

.description {
  padding: 14px 0;
  margin: 0 auto;
  max-width: 250px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    margin: 0 20px;
  }

  .description {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .footer {
    margin: 0 auto;
  }

  .description {
    padding-left: 20px;
    padding-right: 20px;
  }
}
